<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/favicon.ico">
	<!-- <meta name="color-scheme" content="dark light"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vite App</title>
  <script type="module" crossorigin src="/js/index-a1c734ea.js"></script>
  <link rel="modulepreload" crossorigin href="/js/vendor-44723ee6.js">
  <link rel="stylesheet" href="/css/index-a3b38957.css">
</head>

<body>
	<div id="app"></div>
	
</body>

</html>