<!--ConsumerPortal-->
<!DOCTYPE html>
<html lang="en">
<head>
	<partial name="CP-Head" />
	@RenderSection("HeadJsCss", false)
</head>
<body>
	@RenderBody()
	@RenderSection("FooterJs", false)
</body>
</html>
